<div class="container2">
    <div class="row">
        <center>
            <h5>Inventario de producto</h5>
        </center>
        <div class="input-field col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="productoInventario" onKeyUp="producto.getInventario(1)"
                           placeholder="Buscar producto">
                </div>
            </div>
        </div>
        <a onclick="exportarInventarios()" class="waves-effect waves-light btn-small grey darken-3">Export</a>
    </div>
    <div id="inventarioProductos" class="row">

    </div>
    <div id="inventarioProductosPD">

    </div>
</div>